.home-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform:translateY(-50%);
        width: 40%;
        max-height: 100%;
    }
    h1 {
        color:black;
        font-size: 53px;
        
        margin :0;
        font-family: 'Coolvetica';
        font-weight: 400;
        margin-top: 175px;
   

    }
    .headshot{
        display: block;
        padding: 0px 0;

        img{
            display: block;
            margin: 0px auto;
            height: 100%;
            width: auto;
            position: absolute; 
            right: 0px; 
        }
    }
}