.contact-page {

        position: absolute;
        left: 25%;
        top: 10%;   
        bottom: 5%;
        width: 20%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;
        overflow-y:  scroll;
        overflow-x: visible;
    width: 50%;
    margin-top: 20px;

    h1 {
        color:black;
        font-size: 53px;
        margin :0;
        font-family: 'Coolvetica';
        font-weight: 400;
        margin-top: 17px;
   
    }

    p {
        color:#444;
        font-size: 17px;
        margin :0;
        font-family: 'Coolvetica';
        font-weight: 400;
        margin-top: 0px;
   
    }
  
    ul {
      padding: 0;
      margin: 0;
      margin-top: 7%;
  
      li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        opacity: 0;
        overflow: hidden;
        display: block;
        clear: both;
        position: relative;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
      }
  
      li.half {
        width: 49%;
        margin-left: 2%;
        float: left;
        clear: none;
  
        &:first-child {
          margin-left: 0;
        }
      }
    }
  
    input[type='text'],
    input[type='email'] {
    
      width: 100%;
      border: 0;
      background: #333333;
      height: 50px;
      font-size: 16px;
      color: #fff;
      padding: 0 20px;
      box-sizing: border-box;
    }
  
    textarea {
      width: 100%;
      border: 0;
      background: #333333;
      height: 50px;
      font-size: 16px;
      color: #fff;
      padding: 20px;
      box-sizing: border-box;
      min-height: 150px;
    }
  
    .flat-button {
      color: #ffd700;
      
      font-size: 11px;
      letter-spacing: 3px;
      text-decoration: none;
      padding: 8px 10px;

      float: left;
      border-radius: 4px;
      text-transform: uppercase;
      float: right;
      text-align: center;
      margin-right: 10px;
      background: #333333;
      &:hover{
        background: #ffd700;
        color:#333333;
        svg{
            opacity: 0;
        }
        &:after{
            opacity: 1;
        }
    }
    }
  }
  
  

